@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	font-family: "Raleway", sans-serif;
	background-image: url('moroccoinjuly.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;		/* Covers the element, image may be cut off */
	margin: 50px;  /* nest this property outside 100% 100% to work */
}

div {
	background-color: rgba(255, 255, 255, 0.5);
	margin:10px;
	padding: 30px;
	border-radius: 5px;
}

div.class1 {
	color: white;
	background-image: url('space.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;  <!----- fit the entire image in the element ------>
}

.class2 {
	color: crimson;
	text-shadow: 2px 0 0 #000000;
	font-weight: bold;
	background-image: urL('starvector.jpg');
	background-repeat: repeat;
	background-size: 10%;
}

h1, h2, h3, h4, h5, h6 {
	background-color: white;
	text-border: 1px solid black;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

p {
	background-color: lightblue;
	padding: 20px;
	border-radius:  5px;
	text-align: left;
}

ul {
	background-color: tomato;
	color: black;
	text-align: justify;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius:  5px;
	display: inline-block;
	margin: 0 auto;
/*******CENTER TABLE OF CONTENTS********/
/*list-style-type: circle;*/
}

thead 	{}
tbody 	{}
tfoot	{color: red;}
th 	{color:green;}
caption {background-color: lightgray;}

table, th, td {
	background-color: white;
	border-radius: 8px;
	border: 1px solid black;
	border-collapse: collapse;
}

<!---- border cells formatting---->
th, td {
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
}

table#t01, table#t01 th, table#t01 td  {
	background-color: lightblue;
	border-radius: 0px;
	border: 3px solid black;
	border-collapse: separate;
}

table#t01 th {
	color: white;
	background-color: purple;
	border-radius: 0px;
	border-collapse: none;
}

table#t02 {
	border-collapse: separate;
	padding-left: 10px;
	padding-right: 10px;
}

table#t02 th, table#t02 td {
	border-collapse: separate;
	padding-left: 75px;
	padding-right: 75px;
}

/******* UL C1 *******/
ul#c1 {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: cornflowerblue;
}

ul#c1 li {
	float: left; /*or display: inline*/
}

ul#c1 li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

ul#c1 li a:hover {
	background-color: darkblue;
}

#s01 {
	color: red;
}

.test1 {
	display: block;
	text-align: center;
}

.test2 {
	background-color: black;
	color: white;
}

#b01 {
	background-color: black;
	color: white;
	padding: 20px;
	border: none;
	border-radius: 8px;
}

button#b01:hover {
	background-color: white;
}

footer {
	background-color: lightgray;
	opacity: 0.9;
	border-radius: 8px;
	text-align: center;
}

.icon {
	height: 50px;
	width: 50px;
	margin: 5px;
}

iframe {
	display: block;
	min-height: 300px;
	min-width: 500px;
	border: none;
}
