<!DOCTYPE html>
<html lang="en-ca">
<head>
	<title>Nathalia's Layout Practice</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="style.css"/>
</head>
<body>
	<header>
		<h1>Test Layout</h1>
	</header>

	<div style="overflow: hidden;">
		<div class="left">
			<h2>Navigation</h2>
			<a href="">Link</a><br/>
			<a href="">Link</a><br/>
			<a href="">Link</a><br/>
		</div>
		<div class="main">
			<h2>Title</h2>
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
		</div>
		<div class="main">
			<h2>Title</h2>
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
		</div>
		<div class="main">
			<h2>Title</h2>
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
			This is some responsive text. This is some responsive text. 
		</div>
		<div class="main">
			<h2>Computercode</h2>
			The code tag defines user input/programming code: 
			<pre>
			<code>
			x = 5;
			y = 6;
			</code>
			</pre>
			Exit by <mark>pressing</mark> <kbd>Alt + F4</kbd><br/>
			Here's a formula with variables: 
			<var>a</var><sup>2</sup><br/>
			Computer output: <samp>Error!</samp>
		</div>
		<div class="main">
			<h2>Semantic Elements</h2>
			<figure>
				<img src="Images/stars.jpg" alt="stars" style="width: 100%; height: auto;">
				<figcaption>Fig 1. Stars</figcaption>
			</figure>
			<details>
				<summary>Stars</summary>
				Stars are made of basic elements and are powered through nuclear fission. I think.
			</details>
		</div>
		<div class="footer">
			<a href="">Jump to Top</a>
		</div>
	</div>
</body>
</html>
